*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
body{
    background-color: #ffffff;
    color: #324950;
}
a{
    text-decoration: none;
    color: #000;
}
header{
    min-height: 113px;
    max-width: 1127px;
   /*  margin: 10px auto;*/
    overflow-x: hidden;

}
.img-head-logo{
    height: 90px;
    margin: 5px;
}
section{
    overflow-x: hidden;
}
section#home{
   /* height: 850px;*/
   /* background-size: cover;*/
    background: url("../images/bg.png");
    
}
section#posts{ 
    background: url("../images/Union.png");
    margin-top: 100px;
    background-size: cover;
    background-position: center;
}

section#banner_tomato{ 
    background: url("../images/image7.png");
    margin-top: 100px;
    background-size: cover;
    background-position: center;

height: 480px;
width: 100%;
margin: 0;
}

.card-tom-tag{
    background-color: #FFFFFF;
    color: #57984C;
    width: 100%;
    height: 60px;
    

}

.decorationcontent{
height: 1px;

    background-color: #000000;
border-radius: 10px;
}

.breeding_tomato{
    background-color: #FFFAFA;
}
section#activities {
    background: #EDEDED;
    margin-top: 100px;
    
}

.nav-wrap{
     background-color: #fff;
}
.btn{
    text-transform: uppercase;
}
.title{
    color: #735440;
    font-weight: 700;
    font-family: "Roboto Slab", sans-serif;
}
.card h5{
    color: #57984C;
}
.card-title{
    font-size: 4rem;
}
.img{
    width: 100%;
    height: 250px;
}
.rec{
  background-color:#57984C;
  height: 8px;
  width: 8px;
  display: flex;
}
.rec1{
  background-color:#324950;
  height: 4px;
  width: 4px;
  display: flex;
}
footer{
    min-height: 127px;
    background-color: #324950;
    color: #fff;
    overflow-x: hidden;

}
footer a {
    color: #fff;
}
footer .nav-item{
    height: 31px;
    line-height: 31px;
}

.nav-item{
    font-family: "Heebo", sans-serif;
}

.logo{
    max-height: 100px;
    height: 100%;
}


section#content_tomato {
    background: #FCF0F0;
    
}
.content_tomato *{
    font-family: "Roboto Slab", sans-serif;
    
}

.card-tom{
    height: 321px;
}
.img-tomato {
    height: 252px;
    background: #fff;
    overflow: hidden;
}
.img-tomato img{
    width: 100%;
    height: auto;
    } 
